.DS_Store
__pycache__/check_test.cpython-37.pyc
__pycache__/plot_utils.cpython-37.pyc
__pycache__/frozenlake.cpython-37.pyc
.ipynb_checkpoints/Dynamic_Programming-checkpoint.ipynb
.ipynb_checkpoints/Dynamic_Programming-checkpoint.ipynb
.ipynb_checkpoints/Dynamic_Programming-checkpoint.ipynb
